@model IEnumerable<NorthCarolinaTaxRecoveryCalculator.Models.Reciept>
    <table class="tablesorter">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RIF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfSale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesTax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodTax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnBillDetail)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.RIF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfSale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @NorthCarolinaTaxRecoveryCalculator.Models.County.Counties[item.County].Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesAmount)
                    </td>
                    <td>
                        @if (item.Notes != null && item.Notes != "")
                        {
                            <div class="note" title="@item.Notes" >!</div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnBillDetail)
                    </td>
                    <td>
                        <a href="#" class="editIcon">Edit</a> 
                        |
                        <a href="#" class="deleteIcon">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>