@model NorthCarolinaTaxRecoveryCalculator.Models.RecieptEntity
<div id="fixedFormDiv">
    @Html.ValidationSummary(true)
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Project.ID)
        @Html.HiddenFor(model => model.Project.Name)
    
        <fieldset>
            <legend>Reciept</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.RIF)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RIF, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.RIF)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.DateOfSale)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DateOfSale, new { autocomplete = "off", Value = "" })
                @Html.ValidationMessageFor(model => model.DateOfSale)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StoreName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StoreName, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.StoreName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.County)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.County, new SelectList(NorthCarolinaTaxRecoveryCalculator.Models.County.Counties.Where(c => c.ID >= 1), "ID", "Name"))
                @Html.ValidationMessageFor(model => model.County)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SalesTax)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SalesTax, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.SalesTax)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FoodTax)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FoodTax, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.FoodTax)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SalesAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SalesAmount, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.SalesAmount)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Notes)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Notes, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.OnBillDetail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OnBillDetail)
                @Html.ValidationMessageFor(model => model.OnBillDetail)
            </div>
            <p>
                <input type="submit" value="Create" id="createBtn" />
                <input type="submit" value="Update" id="updateBtn" />
            </p>
        </fieldset>
    }
</div>
<div id="recieptRecords">
    @{Html.RenderAction("List", new { ProjectID = Model.Project.ID });}
</div>
<div id="notePopup">
</div>
@using (Html.BeginForm("Delete", "Reciept", FormMethod.Post, new { id = "hiddenDeleteForm" }))
{
    <input type="hidden" id="RecieptID" /> 
}
@section scripts {
    <script src="~/Scripts/jquery.signalR-0.5.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/accounting.min.js" type="text/javascript"></script>
    <script src="~/Scripts/date.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">

        var hub;
        function getProjectID() {
            return "@Html.Raw(Model.Project.ID)";
        }
        
        //Return an array containing all the county names
        function getCountyNames() {
            var names = @Html.Raw(ViewBag.Counties);
            return names;
        }

        $(function () {

            initViewport();
            initWatermarks();
            initTable();

            initNotesPopup();
            initSignalR();
            initForm();

            initEditingMode();
            initEditButton();
            initCancelButton();
            initDeleteButton();
            initDateFormatting();
            initStoreNameAutoComplete();

            refreshTotals();

            //If we want to create a NEW reciept,
            //then remove any ID that might be floating 
            //around in the form ;)
            $("#createBtn").click(function () {
                $("#ID").val("");
            });

            //Collapse the totals areas
            $(".collapsible").collapsible();

            //Start with the RIF field having the default focus
            $("#RIF").focus();
            
            $(window).resize(function() {
                initViewport();
            });
        });


        //Setup all the SignalR goodness, and wire up all the events
        function initSignalR() {

            hub = $.connection.recieptHub;
            
            //Start hubbing!
            $.connection.hub.start();

            hub.recieveReciept = addRowToTable;
            hub.onRecieptDeleted = deleteRecieptFromTable;

            hub.onNewRecieptSaved = function () {                
                //clear previous validation errors
                $("span.field-validation-valid").each(function () {
                    $(this).empty();
                });

                //clear all the fields, and get ready to add another reciept

            }

            //Whenever we accedintally submit an invalid Recipet
            hub.onInvalidReciept = function (validationErrors) {
                //clear previous validation errors
                $("span.field-validation-valid").each(function () {
                    $(this).empty();
                });

                //display all the current validation errors

                //loop thru all the validation errors the server returned back to us
                for (var errorIndex = 0; errorIndex < validationErrors.length; errorIndex++) {
                    var msg = validationErrors[errorIndex].ErrorMessage;
                    //loop thru all the elements that this error refers to
                    for (var elemIndex = 0; elemIndex < validationErrors[errorIndex].MemberNames.length; elemIndex++) {
                        //Append our error message to them
                        $("span[data-valmsg-for='" + validationErrors[errorIndex].MemberNames[elemIndex] + "']").each(function () {
                            $(this).text(msg);
                        });
                    }
                }
            }
                        
            //Send all the reciept information to the server on CREATE
            $("#createBtn").click(function () {
                hub.addReciept(getFormValues());
            });

            //Send all the reciept information to the server on UPDATE
            $("#updateBtn").click(function () {
                hub.updateReciept(getFormValues());
            });
        }

        //Return an object containtn all the form values that may be sumitted to the server
        function getFormValues() {
            var v = {
                    ProjectID: getProjectID(),
                    RIF:  $("input#RIF").val(),
                    DateOfSale: $("input#DateOfSale").val(),
                    StoreName: $("input#StoreName").val(),
                    County: Number($("select#County").val()),
                    SalesTax: $("input#SalesTax").val(),
                    FoodTax: $("input#FoodTax").val(),
                    SalesAmount: $("input#SalesAmount").val(),
                    OnBillDetail: ($("input#OnBillDetail").is(":checked")),
                    Notes: $("input#Notes").val()
                }
            return v;
        }

        //make sure the form NEVER actually submits
        function initForm() {
            $("form").submit(function (e) {
                return false;
            });
        }

        //Adds a new row to the table with new reciept information
        function addRowToTable(reciept) {
            //formatting
            reciept.DateOfSale = new Date(reciept.DateOfSale);
            reciept.DateOfSale = (Number(reciept.DateOfSale.getMonth()) + 1) + "/" + (Number(reciept.DateOfSale.getDate()) + 1) + "/" + reciept.DateOfSale.getFullYear();
            reciept.SalesTax = formatMoney(reciept.SalesTax);
            reciept.FoodTax = formatMoney(reciept.FoodTax);
            reciept.SalesAmount = formatMoney(reciept.SalesAmount);

            var newRow = "<tr data-id=" + reciept.ID + " class='recieptRecord'>";
            newRow += "<td>" + reciept.RIF + "</td>";
            newRow += "<td>" + reciept.DateOfSale + "</td>";
            newRow += "<td>" + reciept.StoreName + "</td>";
            newRow += "<td>" + getCountyNames()[reciept.County] + "</td>";
            newRow += "<td>" + reciept.SalesTax + "</td>";
            newRow += "<td>" + reciept.FoodTax + "</td>";
            newRow += "<td>" + reciept.SalesAmount + "</td>";
            if(reciept.Notes != null && reciept.Notes != "") {
                newRow += "<td><div class='note' data-note='" + reciept.Notes + "' >!</div>";
            } else {
                newRow += "<td></td>";
            }
            if(reciept.OnBillDetail) {
                newRow += "<td><input class='check-box' disabled='disabled' checked type='checkbox' /></td>";
            } else {
                newRow += "<td><input class='check-box' disabled='disabled' type='checkbox' /></td>";
            }
            newRow += "<td><a href='#' class='editIcon'>Edit</a> | <a href='#' class='deleteIcon'>Delete</a></td></tr>";
            $("table tbody").append($(newRow));

                
            //refereshTotals
            refreshTotals();

            //Allow newly created Edit & Delete buttons to create there events
            initDeleteButton();
            initEditButton();
            $("input#RIF").keyup();
        }

        function deleteRecieptFromTable(recieptID) {
            $("table tbody tr").each(function() {
                if($(this).attr("data-id") == recieptID) {
                    $(this).remove();                
                    $("input#RIF").keyup();
                }
            });
        }

        function formatMoney(number) {
            return accounting.formatMoney(number, {
	            precision: 2,
	            thousand: ",",
	            format: {
		            pos : "%s%v",
		            neg : "%s(%v)",
		            zero: "%s%v"
	            }
            });
        }

        //Recalculate the totals for the bottom of the table
        function refreshTotals() {
            
            //Simple message for an empty list
            //We are inclunding it here so that it can be added and removed, as records are
            var msg = $("<tr id='emptyListMessage'><td colspan='10' class='centeredText'>No Reciepts Have Been Entered Yet For This Project</td></tr>");
            var count = 0
            var msgIsDisplayed = false;
            $("table.tablesorter tr").each(function() {
                if($(this).attr("id") == "emptyListMessage") {
                    msgIsDisplayed = true;
                }
                count++;
            });

            if( (count-2) == 0 && !msgIsDisplayed) {
                $("table.tablesorter tbody").append(msg);
            } else if((count-3) >= 1 && msgIsDisplayed){
                $("tr#emptyListMessage").remove();
            }

            //Sales Tax & Food Tax & Sales Amount Totals
            for(var column = 4; column < 7; column++) {
                var total = 0;
                $("table.tablesorter tr").each(function() {
                    var txt = $(this).find("td:eq(" + column + ")").text();
                    txt = $.trim(txt);                   

                    //Is it negative. e.g. (10) == -10
                    var isNegitive = false;
                    if(txt.substring(0,1) == "(") {
                        isNegitive = true;
                    }

                    //remove Dollarsign and commas
                    txt = accounting.unformat(txt);

                    total += Number(txt);
                    
                });
                
                $("table.tablesorter tfoot tr").find("th:eq(" + column + ")").text(formatMoney(total));
            }

            //Number of notes
            var total = 0;
            $("table.tablesorter tr").each(function() {
                var txt = $(this).find("td:eq(7)").text().trim();
                
                if(txt != "") {
                    total++;
                }
            });                
            $("table.tablesorter tfoot tr").find("th:eq(7)").text(total);

            $("table").trigger("update"); 
        }

        function unusedStuff() {
            $("input#createBtn").show();
            $("input#updateBtn").hide();
            $("#RIF").keyup(function () {
                var found = false;

                $("table.tablesorter tr").each(function () {
                    var cell = $(this).find("td:first").text();

                    //If there is already a record with this RIF,
                    //then hide then create button, and show
                    //the update button
                    if ((cell != "") && ($.trim(cell) == $.trim($("#RIF").val()))) {
                        found = true;
                        return false;
                    }
                });

                if (found) {
                    $("input#createBtn").hide();
                    $("input#updateBtn").show();
                } else {
                    $("input#updateBtn").hide();
                    $("input#createBtn").show();
                }

            });
        }

        //Allow the list of recipets to fill the remaining width, and height of the window
        function initViewport() {   
            var top = $("div#recieptRecords").offset().top;
            var height = $(window).height();
            $("div#recieptRecords").height(height - top);
        }

        //Add the watermarks to the input elements in the New Reciept form
        function initWatermarks() {
            //Add watermarks to the input fields
            $.watermark.options.className = 'watermark';
            $.watermark.options.useNative = false;
            $("input#RIF").watermark("RIF    ");
            $("input#DateOfSale").watermark("Date Of Reciept     ");
            $("input#StoreName").watermark("Store Name     ");
            $("input#SalesTax").watermark("Sales Tax    ");
            $("input#FoodTax").watermark("Food Tax    ");
            $("input#SalesAmount").watermark("Sales Amount    ");
            $("input#Notes").watermark("Notes    ");
        }

        //Configure the table containing the list of recipets to be sortable
        function initTable() {
        try {
            $("table").tablesorter({
                sortList: [[0, 0]]
                
                /*, //sort by rif automatically
                headers: {
                    4: {
                        sorter: 'accountingNumbers'
                    },
                    5: {
                        sorter: 'accountingNumbers'
                    },
                    6: {
                        sorter: 'accountingNumbers'
                    }
                }*/
                    
            });
            } catch(err) {}
            
            $.tablesorter.addParser({ 
                // set a unique id 
                id: 'accountingNumbers', 
                is: function(s) { 
                    // return false so this parser is not auto detected 
                    return false; 
                }, 
                format: function(s) { 
                    s = accounting.unformat(s);                    
                    return s;
                }, 
                // set type, either numeric or text 
                type: 'numeric' 
            }); 

            refreshTotals();
        }

        //Swith the create button to an update button whenever the current Rif exists, and vice-versa
        function initEditingMode() {        
            $("input#updateBtn").hide();               
            var rifChangeFunction = function() {
                var rifExists = false;
                
                //Find if the RIF exists
                $("table tbody tr").each(function() {
                    var rif = $(this).find("td:eq(0)").text().trim();
                        
                    if(rif == $("input#RIF").val()) { 
                        rifExists = true;
                    }
                });


                //If we are editing a reciept that already esists
                if(rifExists) {
                    //Change the button to the 'Editing' button
                    $("input#createBtn").hide();
                    $("input#updateBtn").show();                    
                } else {
                    //Otherwise, change the button to the 'Creating' button
                    $("input#createBtn").show();
                    $("input#updateBtn").hide();                    
                }
            };

            $("input#createBtn").click(rifChangeFunction);
            $("input#updateBtn").click(rifChangeFunction);         
            $("input#RIF").change(rifChangeFunction);
            $("input#RIF").keyup(rifChangeFunction);
        }
        function initEditButton() {
            //When we click on an edit icon, fill the form with the values from that row
            $(".editIcon").click(function () {

                //Find the field values
                var rif = $(this).parent().parent().find("td:eq(0)").text();
                var date = $(this).parent().parent().find("td:eq(1)").text();
                var store = $(this).parent().parent().find("td:eq(2)").text();
                var county = $(this).parent().parent().find("td:eq(3)").text();
                var salesTax = $(this).parent().parent().find("td:eq(4)").text();
                var foodTax = $(this).parent().parent().find("td:eq(5)").text();
                var salesAmt = $(this).parent().parent().find("td:eq(6)").text();
                var notes = $(this).parent().parent().find("td:eq(7) div").attr("title");
                var billDetail = $(this).parent().parent().find("td:eq(8) input").prop("checked");

                //clean it up
                var rif = $.trim(rif);
                var date = $.trim(date);
                var store = $.trim(store);
                var salesTax = accounting.unformat(salesTax);
                var foodTax = accounting.unformat(foodTax);
                var salesAmt = accounting.unformat(salesAmt);
                var notes = $.trim(notes);

                
                //Load them into the Input Fields
                $("#RIF").val($.trim(rif));
                $("#DateOfSale").val($.trim(date));
                $("#StoreName").val($.trim(store));
                $("#County option").each(function () {
                    if( $(this).text().trim() == $.trim(county) ) {
                        $(this).prop("selected", "selected");
                    }
                });
                $("#SalesTax").val($.trim(salesTax));
                $("#FoodTax").val($.trim(foodTax));
                $("#SalesAmount").val($.trim(salesAmt));
                $("#Notes").val($.trim(notes));
                $("#OnBillDetail").prop("checked", billDetail);

                $("#RIF").keyup();
                //$("select#County option:contains('" + $("tr#" + this.id + " .countyCol").text() + "')").attr('selected', 'selected');

                //$("#RIF").select();
            });
        }
               
        function initCancelButton() {
            //When we click the cancel button, we want to clear all previously enter field data
            $("#Cancel").click(function () {
                $("#RIF").val("");
                $("#DateOfSale").val("");
                $("#StoreName").val("");
                $("#SalesTax").val("");
                $("#FoodTax").val("");
                $("#SalesAmount").val("");
                $("#Notes").val("");
            });
        }

        function initDeleteButton() {
            $(".deleteIcon").click(function () {

                //Find the id parent tr
                var id = $(this).parent().parent().attr("data-id");

                if(confirm("Are you sure you want to delete this reciept? This action CANNOT be undone!")) {                
                    hub.deleteReciept(id);
                }
            });
        }

        //Auto-format the date field
        function initDateFormatting() {
            $("input#DateOfSale").change(function() {
                var date = Date.parse( $(this).val() );         

                //If we can, convert the entered date into somethnign more pretty, and complete
                if(date != null) {                                         
                    date = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();                    
                    $(this).val(date);
                }
            });
        }

        function initStoreNameAutoComplete() {

            //Load the store names from the database
            //<?php $reciepts = new RecieptsModal(); ?>
            //var storeNames = <?php echo json_encode($reciepts->getStoreNames()); ?>;        
            //Add auto complete to the store names field
            //$("#storeField").autocomplete({
            //    source: storeNames
            //});
        }

        //Setup the Notes popup
        function initNotesPopup() {
            //It shoudl initail be hidden
            $("div#notePopup").hide();

            $(".note").hover(
                function () {
                    $("div#notePopup").show();
                    $("div#notePopup").text($(this).attr("title"));
                    $("div#notePopup").offset({
                        left: $(this).offset().left - $("div#notePopup").width(),
                        top: $(this).offset().top
                    });
                },
                function () {
                    $("div#notePopup").hide();
                }
            );

            $("div#notePopup").hover(
            function () {
                $("div#notePopup").show();
            },
            function () {
                $("div#notePopup").hide();
            }
        );
        }
    </script>
}
