<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>North Carolina Tax Recovery Calculator :: @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        div#loginArea {
            float: right;
        }

        div#top-header {
            float: left;
        }

        ul#menu li {
            float: left;
            list-style: none;
            margin-right: 5px;
        }

            ul#menu li:hover {
                background-color: #D7F8F8;
            }

        div#connectionIcon {
            border-radius: 10px;
            width: 20px;
            height: 20px;
            float: right;

        }

        .connected {
            background-color: #45e825;
        }

        .diconnected {
            background-color: #f00;
        }

    </style>
    @RenderSection("styles", required: false)
    @RenderSection("style", required: false)
</head>
<body>
    <div id="header">
        <div id="top-header">
            <img id="banner" src="~/Images/Banner.png" />
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("North Carolina Tax Recovery Calculator", "Index", "Home")</li>
                    <li data-userid="@WebSecurity.CurrentUserId"></li>
                </ul>
            </nav>
            @RenderSection("top-header", required: false)
        </div>
        <div id="loginArea">
            @Html.Partial("_LoginPartial")
        </div>
        <div id="connectionIcon" class="connected"></div>
        <div class="clear">
        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer></footer>
    @Scripts.Render("~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/Scripts/jquery.watermark.min.js",
                    "~/Scripts/jquery.collapsible.min.js",
                    "~/Scripts/jquery.tablesorter.min.js",
                    "~/Scripts/knockout-2.3.0.debug.js",
                    "~/Scripts/knockout.mapping-latest.js",
                    "~/Scripts/moment.min.js",
                    "~/Scripts/common.js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            //ping the server every 10 seconds
            setInterval(pingServer, 10 * 1000);

            //Display a little green or red icon if we are not connected to the server
            function pingServer() {
                $.ajax({
                    url: '/',
                    success: function (result) {
                        $("div#connectionIcon").removeClass('diconnected');
                        $("div#connectionIcon").attr('title', "Connected");
                        $("div#connectionIcon").addClass('connected');
                    },
                    error: function (result) {
                        $("div#connectionIcon").removeClass('connected');
                        $("div#connectionIcon").attr('title', "Disconnected");
                        $("div#connectionIcon").addClass('diconnected');
                    }
                });
            }

        });
    </script>
</body>
</html>
