<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>North Carolina Tax Recovery Calculator :: @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <style type="text/css">
            div#loginArea 
            {
                float:right;
            }
            
            div#top-header
            {
                float:left;
            }
            
            ul#menu li
            {
                float: left;
                list-style: none;    
                margin-right: 5px;            
            }
            
            ul#menu li:hover
            {
                background-color: #D7F8F8;
                
            }
            
        </style>
        @RenderSection("styles", required: false)
        @RenderSection("style", required: false)
    </head>
    <body>
        <div id="header">
            <div id="top-header">            
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home") </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li data-userid="@WebSecurity.CurrentUserId"></li>
                    </ul>
                </nav>
                @RenderSection("top-header", required: false)
            </div>
            <div id="loginArea">
                @Html.Partial("_LoginPartial")                
            </div>
            <div class="clear">
                <h1 class="centered-text">North Carolina Tax Recovery Calculator</h1>
            </div>            
        </div>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer></footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/jquery.watermark.min.js")        
        @Scripts.Render("~/Scripts/jquery.collapsible.min.js")    
        @Scripts.Render("~/Scripts/jquery.tablesorter.min.js")    
        @RenderSection("scripts", required: false)
    </body>
</html>
