<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>North Carolina Tax Recovery Calculator :: @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="header">
            <div id="top-header">
                @RenderSection("top-header", required: false)
            </div>
            <div>
                @Html.Partial("_LoginPartial")
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
            <div>
                <h1 class="centered-text">North Carolina Tax Recovery Calculator</h1>
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>            
        </div>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/jquery.watermark.min.js")        
        @Scripts.Render("~/Scripts/jquery.collapsible.min.js")    
        @Scripts.Render("~/Scripts/jquery.tablesorter.min.js")    
        @RenderSection("scripts", required: false)
    </body>
</html>
