@model NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher
@{
    ViewBag.Title = "Create/Edit";
}

<h2>@Model.Project.Name - @ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PaymentVoucher</legend>
        <div id="voucherArea">
            @Html.HiddenFor(model => model.Project.ID)
            @Html.HiddenFor(model => model.Project.Name)
            @Html.HiddenFor(model => model.ID)

            <div class="editor-label">
                @Html.LabelFor(model => model.CheckNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CheckNumber)
                @Html.ValidationMessageFor(model => model.CheckNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaidTo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaidTo)
                @Html.ValidationMessageFor(model => model.PaidTo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PreparedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PreparedBy)
                @Html.ValidationMessageFor(model => model.PreparedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ApprovedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ApprovedBy)
                @Html.ValidationMessageFor(model => model.ApprovedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RBCApproval)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RBCApproval)
                @Html.ValidationMessageFor(model => model.RBCApproval)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </div>
        <div id="entriesArea">
            <table class="tablesorter">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cost Element</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.Entries)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(model => entry.Item)</td>
                            <td>@Html.TextBoxFor(model => entry.CostElement)</td>
                            <td>@Html.TextBoxFor(model => entry.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section style {
    <style type="text/css">

        div#voucherArea {
            float: left;
            width: 230px;
            margin-left:20px;
        }

        div#entriesArea {
            margin-left:250px;
        }

    </style>
}

@section scripts {
    <script type="text/javascript">

        $(function () {
            $("table").tablesorter({ sortList: [[0, 0]] });
        });
    </script>
}