@model NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher
@{
    ViewBag.Title = "Create/Edit";
}

<h2>@Model.Project.Name - @ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PaymentVoucher</legend>
        @Html.ValidationSummary()
        <div id="voucherArea">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.ProjectID)

            <div class="editor-label">
                @Html.LabelFor(model => model.CheckNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CheckNumber)
                @Html.ValidationMessageFor(model => model.CheckNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaidTo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaidTo)
                @Html.ValidationMessageFor(model => model.PaidTo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PreparedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PreparedBy)
                @Html.ValidationMessageFor(model => model.PreparedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ApprovedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ApprovedBy)
                @Html.ValidationMessageFor(model => model.ApprovedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RBCApproval)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RBCApproval)
                @Html.ValidationMessageFor(model => model.RBCApproval)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </div>
        <div id="entriesArea">
            @Html.Partial("_EntryList")
        </div>
            <input id="addRows" type="button" value="Add Rows" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { ProjectID = Model.ProjectID } )
</div>

@section style {
    <style type="text/css">
        div#voucherArea {
            float: left;
            width: 230px;
            margin-left: 20px;
        }

        div#entriesArea {
            margin-left: 250px;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">

        $(function () {
            //sort on check numbers by default
            $("table").tablesorter({ sortList: [[0, 0]] });

            //clicking the delete link wil remove the row from the table
            $(".deleteLink").click(function () {
                $(this).parent().parent().remove();
            });

            $.ajaxSetup({ cache: false });

            //click the add rows button, should adjust the form url, and post it
            $("#addRows").click(function () {
                $.post("@Url.Action("AddRows")", $("form").serialize(), function (data, status) {
                    $("#entriesArea").html(data);

                    //Refresh bindings
                    $(".deleteLink").click(function () {
                        $(this).parent().parent().remove();
                    });
                });
            });
        });
    </script>
}