@model IEnumerable<NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher>

@{
    ViewBag.Title = "Index";
}
@section style {
    <style>
        div#paymentVoucherList {
            width: 200px;
            float: left;
        }

        div#paymentVoucherArea {
            margin-left: 200px;
        }

        div#voucher {
            float: left;
            margin-right: 20px;
        }

        div#entries {
            float: left;
            background-color: red;
        }
    </style>
}
@section scripts {
    <script src="~/Scripts/knockout-2.3.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var data = {
                "Voucher": {
                    "ID": "",
                    "PaidTo": "",
                    "CheckNumber": "",
                    "Date": new Date()
                },
                "Vouchers": [
                    @{int i = 0;}
                    @foreach (var v in Model)
                    {
                        if (i > 0)
                        {
                            @Html.Raw(",");
                        }
                        i++;                        
                        @Html.Raw("{");
                        @Html.Raw("'ID': '" + v.ID + "',");
                        @Html.Raw("'PaidTo': '" + v.PaidTo + "',");
                        @Html.Raw("'CheckNumber': '" + v.CheckNumber + "',");
                        @Html.Raw("'Date': new Date('" + v.Date + "')");
                        @Html.Raw("}")
                                                                       i++;
                    }
                ]
            }

            ///idk
            function VoucherViewModel() {
                var self = this;

                self.Voucher = {}
                self.Voucher.ID = ko.observable(GenerateGuid());
                self.Voucher.CheckNumber = ko.observable("");
                self.Voucher.PaidTo = ko.observable("");
                self.Voucher.Date = ko.observable("");

                self.Vouchers = ko.observableArray(data.Vouchers);


                self.addVoucher = function () {
                    /*self.Vouchers.push({
                        "ID" : GenerateGuid(),
                        "PaidTo": "",
                        "CheckNumber": "",
                        "Date": ""                      
                    });*/
                }

                self.saveVoucher = function () {
                    //$.post("/api/PaymentVoucher/saveVoucher", self.Voucher);

                    ko.mapping.fromJSON(ko.mapping.toJSON(voucher), {}, self.Voucher);
                }

                self.loadVoucherFromList = function (voucher) {
                    ko.mapping.fromJSON(ko.mapping.toJSON(voucher),{}, self.Voucher);
                }
            }

            ko.applyBindings(new VoucherViewModel());
        });
    </script>
}
<div id="paymentVoucherList">
    <h2>Vouchers</h2>
    <input type="button" data-bind="click: addVoucher" value="New Voucher" />
    <table>
        <tbody data-bind="foreach: Vouchers">
            <tr class="clickable" data-bind="click: $parent.loadVoucherFromList">
                <td data-bind="text: CheckNumber"></td>
                <td data-bind="text: PaidTo"></td>
                <td data-bind="text: moment(Date).format('l')"></td>
            </tr>
        </tbody>

    </table>

</div>

<div id="paymentVoucherArea" data-bind="with: Voucher" >
    <form>
        <fieldset>
            <legend>PaymentVoucher</legend>
            <input data-bind="value: ID" />
            <div id="voucher">
                <div class="editor-label">
                    Paid To
                </div>
                <div class="editor-field">
                    <input data-bind="value: PaidTo" />
                </div>

                <div class="editor-label">
                    Check Number
                </div>
                <div class="editor-field">
                    <input data-bind="value: CheckNumber" />
                </div>

                <div class="editor-label">
                    Date
                </div>
                <div class="editor-field">
                    <input data-bind="value: Date" />
                </div>

            </div>
            <div id="entries">
            </div>
            <div class="clear"></div>
            <p>
                <input type="submit" value="@ViewBag.SaveButtonLabel" data-bind="click: $parent.saveVoucher"/>
            </p>
        </fieldset>
    </form>
</div>
<div id="entryListArea"></div>

