@model NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PaymentVoucher</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectName)
            @Html.ValidationMessageFor(model => model.ProjectName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckNumber)
            @Html.ValidationMessageFor(model => model.CheckNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaidTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaidTo)
            @Html.ValidationMessageFor(model => model.PaidTo)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Entries)
        </div>
        <div class="editor-field">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cost Element</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.Entries)
                    @Html.ValidationMessageFor(model => model.Entries)
                </tbody>
            </table>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PreparedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparedBy)
            @Html.ValidationMessageFor(model => model.PreparedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApprovedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApprovedBy)
            @Html.ValidationMessageFor(model => model.ApprovedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RBCApproval)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RBCApproval)
            @Html.ValidationMessageFor(model => model.RBCApproval)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
