@model NorthCarolinaTaxRecoveryCalculator.ViewModels.PaymentVoucher.PaymentVouchersViewModel

@{
    ViewBag.Title = "Payment Vouchers";
}

<h2>@Model.Project.Name - @ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { ProjectID = Model.Project.ID })
</p>
<table class="tablesorter">
    <thead>
        <tr>
            <th>Check Number
            </th>
            <th>Date
            </th>
            <th>Paid To
            </th>
            <th>Prepared By
            </th>
            <th>Approved By
            </th>
            <th>RBC Approval
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vouchers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckNumber)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreparedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RBCApproval)
                </td>
                <td>
                    @Html.ActionLink("View/Edit", "Edit", new { VoucherID = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new {ProjectID = Model.Project.ID, VoucherID = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(function () {
            //init table
            $("table").tablesorter({ sortList: [[0, 0]] });
        });
    </script>
}