@model NorthCarolinaTaxRecoveryCalculator.ViewModels.Project.ProjectOverviewAndCollaboratorsViewModels
@{
    ViewBag.Title = "Details";
}
@section styles {
    <style>
        legend
        {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            background-color: #999CFF;
            padding: 5px;
            margin-left: 20px;
        }
        
        fieldset
        {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-width: 1px;
            border-color: black;
            border-style: solid;
            padding: 15px;
        }
        
        h3#taxPeriodHeader
        {
            text-align:center;
        }
        
        div#contributorsArea, div#taxPeriodsOverviewArea
        {
            margin: 10px;
        }
    </style>
}
@section scripts {
<script src="~//Scripts/jquery.collapsible.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".collapible").collapsible({ defaultOpen: 'taxPeriodHeader'});
        $("table").tablesorter({sortList: [[0, 0]]}) //sort by county automatically
    });
</script>
}

<div id="taxPeriodsOverviewArea">   
    <fieldset>
        <legend>County Taxes By Period(s)</legend>
        <div>@Html.ActionLink("Reciepts List", "Index", "Reciept", new { ProjectID = Model.Project.ID }, new { @class = "blueLink" }) </div>
        <div>@Html.ActionLink("Reciepts To PDF", "PrintRecieptsPDF", "Project", new { ProjectID = Model.Project.ID }, new { @class = "blueLink" })</div>
        <div>@Html.ActionLink("Reciepts To Excel", "ExportToExcel", "Project", new { ProjectID = Model.Project.ID }, new { @class = "blueLink" })</div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Project.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Project.Name)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Project.DateStarted)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Project.DateStarted)
        </div>
        <div>
            @{Html.RenderAction("ProjectTotals", new { ProjectID = Model.Project.ID });}
        </div>
    </fieldset>
</div>
<div id="contributorsArea">
    <fieldset>
        <legend>Project Contributors</legend>
        @foreach (var acl in Model.UsersAccessProjects)
        {
            <div class="collabEntry">
                <span class="collabAction">@Html.ActionLink("Resend", "ResendInvitation", new { AclID = acl.ID }, new { @class = "blueLink" })</span>
                <span class="collabAction">@Html.ActionLink("Revoke", "RevokeInvitation", new { AclID = acl.ID }, new { @class = "blueLink" })</span>
                 @if (acl.invitationAccepted)
                {
                    <span class="collabAction">Accepted</span>
                }
                else
                {
                    <span class="collabAction">Not Accepted</span>
                }
                @if (acl != null && acl.User != null && acl.User.UserName != null)
                {
                    <span class="collabAction">@acl.User.UserName</span>
                }
                else
                {
                    <span class="collabAction">@acl.Email</span>
                }
            </div>
        }

        Add Collaborator
        @using (Html.BeginForm("SendInvitation", "Project", FormMethod.Post, new { ProjectID = Model.Project.ID }))
        {
            <input name="emailAddress" type="email" />
            <input type="submit" />
        }
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit Project Information", "Edit", new { id = Model.Project.ID }) |
    @Html.ActionLink("Back to List of Projects", "Index")
</p>
