@model NorthCarolinaTaxRecoveryCalculator.ViewModels.Project.ProjectOverviewAndCollaboratorsViewModels
@{
    ViewBag.Title = "Details";
}
@section styles {
    <style>
        legend
        {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            background-color: #999CFF;
            padding: 5px;
            margin-left: 20px;
        }
        
        fieldset
        {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-width: 1px;
            border-color: black;
            border-style: solid;
            padding: 5px;
        }
        
        h3#taxPeriodHeader
        {
            text-align:center;
        }
    </style>
}
@section scripts {
<script src="~//Scripts/jquery.collapsible.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".collapible").collapsible({ defaultOpen: 'taxPeriodHeader'});
        $("table").tablesorter({sortList: [[0, 0]]}) //sort by county automatically
    });
</script>
}

<h2>Details</h2>
<fieldset>
    <legend>Project Overview</legend>
    @Html.ActionLink("Reciepts List", "Index", "Reciept", new { ProjectID = Model.Project.ID }, null) 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.DateStarted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.DateStarted)
    </div>
    
    @{Html.RenderAction("ProjectTotals", new { ProjectID = Model.Project.ID });}
</fieldset>
<fieldset>
    <legend>Project Contributors</legend>
    @foreach (var acl in Model.UsersAccessProjects)
    {
        <div class="collabEntry">
            <span class="collabAction">@Html.ActionLink("Resend", "ResendInvitation", new { AclID = acl.ID })</span>
            <span class="collabAction">@Html.ActionLink("Revoke", "RevokeInvitation", new { AclID = acl.ID })</span>
             @if (acl.invitationAccepted)
            {
                <span class="collabAction">Accepted</span>
            }
            else
            {
                <span class="collabAction">Not Accepted</span>
            }
            @if (acl != null && acl.User != null && acl.User.UserName != null)
            {
                <span class="collabAction">@acl.User.UserName</span>
            }
            else
            {
                <span class="collabAction">@acl.Email</span>
            }
        </div>
    }

    Add Collaborator
    @using (Html.BeginForm("SendInvitation", "Project", FormMethod.Post, new { ProjectID = Model.Project.ID }))
    {
        <input name="emailAddress" type="email" />
        <input type="submit" />
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
