@model NorthCarolinaTaxRecoveryCalculator.ViewModels.Project.OwnedAndSharedProjectViewModels
@{
    ViewBag.Title = "Projects";
}
@section style {
    <style>
        /** Project->Index */
        div#projects-list-area
        {
            width: 500px;
            margin: auto;
           
            background-color: #759CD6;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
           
            padding: 10px;
        }
        
            div#projects-list-area h3
            {
                text-align:center;
                width: 100%;    
                text-decoration: underline;
                
                background-color: #376fc3;
                   
                padding-top: 10px;
                padding-bottom: 10px;
                                  
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
            }
        
        form#newprojectform
        {
            margin-bottom: 20px;
        }
        
        table#myProjects, table#sharedProjects 
        {
            margin: 0px;
        }
    </style>
}
<div id="projects-list-area">
    <h3>My Projects</h3>
    <table id="myProjects">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Started On
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.MyProjects)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Project", new { ProjectID = item.ID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStarted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ProjectID = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { ProjectID = item.ID })
                </td>
            </tr>
        }
    </table>

    
    <h3>Projects Shared With Me</h3>
    <table id="sharedProjects">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Owner
            </th>
        </tr>
        @foreach (var item in Model.SharedProjects)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details",  new { ProjectID = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
            </tr>
        }
    </table>
    <h3>Create New Project</h3>
    @Html.Partial("_CreateProjectPartial", new NorthCarolinaTaxRecoveryCalculator.Models.Project())
</div>
