@model NorthCarolinaTaxRecoveryCalculator.ViewModels.Project.ProjectOverviewAndCollaboratorsViewModels
@{
    ViewBag.Title = "Details";
}
@section styles {
    <style>
        legend {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            background-color: #999CFF;
            padding: 5px;
            margin-left: 20px;
        }

        fieldset {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-width: 1px;
            border-color: black;
            border-style: solid;
            padding: 15px;
            margin-bottom: 20px;
        }

        h3#taxPeriodHeader {
            text-align: center;
        }
    </style>
}
@section scripts {
    <script src="~//Scripts/jquery.collapsible.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".collapible").collapsible({ defaultOpen: 'taxPeriodHeader' });
            $("table").tablesorter({ sortList: [[0, 0]] }) //sort by county automatically

            $("#clearFiltersButton").click(function () {
                $("#FilterStartDate").val("");
                $("#FilterEndDate").val("");

                $("#filtersForm").submit();
            });
        });
    </script>
}
<div id="paymentVoucherOverviewArea">
    <fieldset>
        <legend>Payment Vouchers</legend>
        <div>
            @Html.ActionLink("Goto Payment Vouchers", "Index", "PaymentVoucher", new { ProjectID = Model.Project.ID }, null)
        </div>
    </fieldset>
</div>

<div id="taxPeriodsOverviewArea">
    <fieldset>
        <legend>Tax Recovery</legend>
        <div>
            <form id="filtersForm">
                @Html.DisplayNameFor(model => model.FilterStartDate)
                @Html.EditorFor(model => model.FilterStartDate)
                @Html.DisplayNameFor(model => model.FilterEndDate)
                @Html.EditorFor(model => model.FilterEndDate)
                <input type="submit" value="Filter By Date(s)" />
                <input type="button" id="clearFiltersButton" value="Clear Filters" />
            </form>
        </div>
        <div>@Html.ActionLink("Goto Reciepts List", "Index", "Reciept", new { ProjectID = Model.Project.ID }, new { @class = "blueLink" }) </div>
        <div>@Html.ActionLink("Reciepts To PDF", "PrintRecieptsPDF", "Project", new { ProjectID = Model.Project.ID, filterStartDate = Model.FilterStartDate, filterEndDate = Model.FilterEndDate }, new { @class = "blueLink" })</div>
        <div>@Html.ActionLink("Reciepts To Excel", "ExportToExcel", "Project", new { ProjectID = Model.Project.ID, filterStartDate = Model.FilterStartDate, filterEndDate = Model.FilterEndDate }, new { @class = "blueLink" })</div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Project.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Project.Name)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Project.DateStarted)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Project.DateStarted)
        </div>
        <div>
            <div>
                Total County Tax: @Model.TotalCountyTaxForProject.ToString("C")
            </div>
            <div>
                Total State Tax: @Model.TotalStateTaxForProject.ToString("C")
            </div>
            <div>
                Total Food Tax: @Model.TotalFoodTaxForProject.ToString("C")
            </div>
            <div>
                Total Transit Tax: @Model.TotalTransitTaxForProject.ToString("C")
            </div>
            @{  
                <h3 class="collapible clickable" id="taxPeriodHeader">County Totals:<br />

                </h3>
                <div id="countyList">
                    <table class="tablesorter">
                        <thead>
                            <tr>
                                <th>County
                                </th>
                                <th>County Tax
                                </th>
                                <th>State Tax
                                </th>
                                <th>Food Tax
                                </th>
                                <th>Transit Tax
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double totalCounty = 0;
                                double totalState = 0;
                                double totalFood = 0;
                                double totalTransit = 0;
                            }
                            @foreach (NorthCarolinaTaxRecoveryCalculator.ViewModels.Project.CountyTotals county in Model.CountyTotals)
                            {
                                //Dont show empty rows
                                if (county.Name == null)
                                {
                                    continue;
                                }

                                double _county = county.CountyTax;
                                double _state = county.StateTax;
                                double _food = county.FoodTax;
                                double _transit = county.TransitTax;

                                totalCounty += _county;
                                totalState += _state;
                                totalFood += _food;
                                totalTransit += _transit;
                            
                                <tr>
                                    <td>@county.Name</td>
                                    <td>@_county.ToString("C")</td>
                                    <td>@_state.ToString("C")</td>
                                    <td>@_food.ToString("C")</td>
                                    <td>@_transit.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>@totalCounty.ToString("C")</th>
                                <th>@totalState.ToString("C")</th>
                                <th>@totalFood.ToString("C")</th>
                                <th>@totalTransit.ToString("C")</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
        </div>
    </fieldset>
</div>
<div id="contributorsArea">
    <fieldset>
        <legend>Project Contributors</legend>
        @foreach (var acl in Model.UsersAccessProjects)
        {
            <div class="collabEntry">
                <span class="collabAction">@Html.ActionLink("Resend", "ResendInvitation", new { AclID = acl.ID }, new { @class = "blueLink" })</span>
                <span class="collabAction">@Html.ActionLink("Revoke", "RevokeInvitation", new { AclID = acl.ID }, new { @class = "blueLink" })</span>
                @if (acl.invitationAccepted)
                {
                    <span class="collabAction">Accepted</span>
                }
                else
                {
                    <span class="collabAction">Not Accepted</span>
                }
                @if (acl != null && acl.User != null && acl.User.UserName != null)
                {
                    <span class="collabAction">@acl.User.UserName</span>
                }
                else
                {
                    <span class="collabAction">@acl.Email</span>
                }
            </div>
        }

        Add Collaborator
        @using (Html.BeginForm("SendInvitation", "Project", FormMethod.Post, new { ProjectID = Model.Project.ID }))
        {
            @Html.EditorFor(m => m.InvitationEmail, new { type = "email" });
            @Html.DropDownListFor(m => m.UserType, new SelectList(Enum.GetValues(typeof(NorthCarolinaTaxRecoveryCalculator.Models.UserType))));
            <input type="submit" />
        }
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit Project Information", "Edit", new { id = Model.Project.ID }) |
    @Html.ActionLink("Back to List of Projects", "Index")
</p>
